* {
    outline: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    background-color: #232768;
    
}

/* .AboutMe-section {
   display: flex;
   justify-content: center;
   align-items: center;
} */


.start-text-info {
    text-align: center;
}

.greeting {
    font-size: 40px;
}
.info-name {
    font-size: 45px;
}

.info-descitpion {
    font-size: 35px;
}

.job {
 font-size: 17px;
}

.special-info {
    margin-top: 30px;
}


.item-card {
    width: 1000px;
    height: 200px;
    outline: #000;
}

.social-link {
    width: 150px;
    font-size: 20px;
    color: #fff;
    display: block;
    text-decoration: none;
    outline: #272eb3 2px solid;
    background-color: #1089fa;
    margin: 0 auto;
}

.section-title {
    width: 100%;
    text-align: center;
}

section.sect {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.project-cards {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
}

/* .project-section {
    height: 500px;
} */

.item-card {
    width: 350px;
    min-height: 300px;
    color: #000;
    background-color: #dddddd;
    margin-left: 50px;
    border-radius: 3px;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
    box-shadow: 1px 3px 15px 0px rgb(0, 0, 0);
}

.item-title {
    color: #000;
    text-align: center;
}

.desc-list {
    padding: 30px;
}

.list-item {
    padding-top: 6px;
}

.tech-skills {
    font-size: 30px;
}

.skills-section {
    width: 80%;
    margin: 0 auto;
    height: 300px;
}

.hidden {
    opacity: 0;
    transition: all 1s;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.item-disc-list {
    margin: 20px;
}

.list-item {
    text-align: left;

}